* {
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
body {
    font-size: 16px;
}

#urgente:checked{
    border: 1px solid red;      
    background-color: red;
    transform: scale(1.2);
}
#medio:checked{
    border: 1px solid yellow;      
    background-color: yellow;
    transform: scale(1.2);    
}
#baixo:checked{
    border: 1px solid green;      
    background-color: green;
    transform: scale(1.2);
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
.header {
    width: 100%;
    background-color: #15C7FF;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
  
.header span {
    color: #ffffff;
}
  
.conteudo {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .conteudo {
      padding: 10px;
    }
}

.camposPrincipais{
    width: 100%;
    display: column;
    flex-direction: column;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}
.linhasCampos{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.grupoInput{
    display: flex;
    flex-direction: column;
    
}

.grupo9{
    margin-left: 1px;
    display: flex;
    justify-content: center;

}

.grupoPrioridade{
    display: flex;
    padding-left: 2px;    
}

.grupoCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAdd{    
    width: 30px;
    height: 30px;
   
}
.btnAdd:hover{
    cursor: pointer; 
    scale: 1.3;    
    transition-duration: 1000ms;    

}

.grupoMotivo{
    display: flex;
    justify-content: center;
    align-items: center;        

}

/* ITENS */
.camposItens{
    display: flex;
    flex-direction: column;  
    width: 100%;
    margin-bottom: 40px;
    
}
.itensRequisicao{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
}

.box-maior{
    width: 90%;
    margin: 0 auto;
}

.linhaAdicionarItens{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;        
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-wrap: wrap;
    margin-top: 10px;
    margin: 0 auto;
}
.grupoStatusEstoque{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 5px;           
}
.grupoStatusEstoque img{
    display: flex;
    width: 30px;
    height: 30px;
}
.grupoBtnInserirItens{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 5px; 
}

.tabelaItens{
    border: 1px solid #CDCDCD;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight:unset;
    table-layout: fixed;
}

.tabelaItens th{
    background-color:#15C7FF; 
    border: 1px solid #CDCDCD;
    border-collapse: collapse; 
    color: white; 
   
    text-align: left;
    padding-left: 10px;
}

.totalContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}

.valorTotal{
    border: 1px solid black ;
    padding: 3px;
    border-radius: 10px;
}

#btnRemover{
    background-color: red;
}

.tabelaItens tr, .tabelaItens td{
    border: 1px solid #CDCDCD;
    border-collapse: collapse;
    padding-left: 10px;
}

.radioPrioridade{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 5px;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: #000000;
}


.radioPrioridadeDesabilitado{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 5px;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: red;
    color:#ffffff;
}